{% extends 'base.html' %}

{% block title %}
Tambah Kelas
{% endblock %}

{% block navbar_links %}
<li class="main-navbar__item">
    <a href="{% url 'home' %}"
        class="main-navbar__link {% if request.resolver_match.url_name == 'home' %}active{% endif %}">Dashboard</a>
</li>
<li class="main-navbar__item">
    <a href="{% url 'matakuliah:catalog_kelas_dosen' %}"
        class="main-navbar__link {% if request.resolver_match.view_name == 'matakuliah:catalog_kelas_dosen' %}active{% endif %}">Mata
        Kuliah Saya</a>
</li>
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Tambah Kelas Baru</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="jenis">Jenis Kelas</label>
            <select name="jenis" id="jenis" class="form-control" required onchange="this.form.submit()">
                <option value="wajib" {% if form_type == 'wajib' %}selected{% endif %}>Wajib</option>
                <option value="pilihan" {% if form_type == 'pilihan' %}selected{% endif %}>Pilihan</option>
            </select>
        </div>
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Tambah Kelas</button>
    </form>
</div>
{% endblock %}