/** @format */

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Arial,
    sans-serif;
  /* background-color: rgba(200, 200, 200, 0.9); */
  font-size: xx-large;
  background-image: url(https://w.wallhaven.cc/full/jx/wallhaven-jx61j5.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.container {
  display: flexbox;
  margin-top: 20px;
  margin-bottom: 20px;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(12px);
  padding: 60px;
  border-radius: 0px;
  border-color: #000000;
  border-style: solid;
  border-width: 1px;
  width: 70vh;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

h2 {
  padding-top: 20px;
  text-align: center;
  color: #000000;
  font-size: 72px;
  font-weight: bold;
  margin-top: 20px;
}

form {
  margin: 0px;
  padding: 0px;
}

p {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: initial;
  justify-content: center;
}

.password-group {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
}

label {
  display: block;
  color: gray;
}

input[type='text'],
input[type='password'] {
  width: 100%;
  margin-top: 4px;
  margin-bottom: 8px;
  font-size: 24px;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid gray;
  border-radius: 0px;
}

.third-party {
  display: flex;
  align-items: center;
  justify-content: center;
}

.third-party button {
  background: limegreen;
  margin: 20px 20px 20px 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.third-party button.facebook {
  background: #0554ff;
}

.third-party button.sso {
  background: gray;
}

button {
  background: #101d2c;
  color: #fff;
  border: none;
  margin-top: 20px;
  width: 100%;
  font-size: 28px;
  padding: 20px 20px;
  cursor: pointer;
  border-radius: 0px;
}

button:hover {
  background: #0056b3;
}

select#id_role {
  width: 100%;
  padding: 12px;
  font-size: 20px;
  border: 1px solid gray;
}

span#id_username_helptext.helptext {
  font-size: medium;
  color: gray;
  margin: 0px;
  padding: 0px;
}

.error {
  color: red;
  padding-top: 10px;
}
