<h2>Lengkapi Profil Dosen</h2>
<form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% for field in form %}
        <div>
            {{ field.label_tag }}<br>
            {{ field }}
            {% if field.errors %}
                <div style="color: red;">
                    {% for error in field.errors %}
                        {{ error }}<br>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% endfor %}
    <button type="submit">Simpan</button>
</form>
