{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'styles/auth.css' %}" />

<section id="cta">
  <picture>
    <source media="(max-width: 600px)" srcset="{% static 'img/bg.webp' %}" />
    <source media="(min-width: 601px)" srcset="{% static 'img/bg.jpg' %}" />
    <img aria-hidden="true" loading="lazy" decoding="async" src="https://w.wallhaven.cc/full/jx/wallhaven-jx61j5.png"
      alt="" width="1920" height="1280" />
  </picture>
</section>

<div class="container">
  <h2 class="form-title">Lengkapi Profil</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {% if form.non_field_errors %}
    <div class="form-non-field-errors">
      <ul class="errorlist">
        {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    {% for field in form %}
    <div class="form-group">
      <label for="{{ field.id_for_label }}">{{ field.label }}</label>
      {{ field }}
      {% if field.help_text %}
      <small class="form-text">{{ field.help_text|safe }}</small>
      {% endif %}
      {% if field.errors %}
      <ul class="errorlist">
        {% for error in field.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
    {% endfor %}
    <button type="submit">Simpan</button>
  </form>
</div>