<!-- @format -->

{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta chaset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link
      rel="stylesheet"
      type="text/css"
      href=" {% static 'styles/register.css' %}"
    />
  </head>
  <body>
    <div class="container">
      <h2>Register</h2>
      <form method="POST" action="{% url 'register' %}">
        {% csrf_token %} {{form.as_p}}
      </form>
      <button type="submit">Register</button>
    </div>
  </body>
</html>
